DATABASE_URL="postgresql://postgres:YOUR_SUPABASE_DB_PASSWORD_URLENCODED@db.YOUR_PROJECT_REF.supabase.co:5432/postgres?sslmode=require"
DIRECT_URL="postgresql://postgres:YOUR_SUPABASE_DB_PASSWORD_URLENCODED@db.YOUR_PROJECT_REF.supabase.co:5432/postgres?sslmode=require"
