DATABASE_URL=postgresql://user:pass@ep-nameless-hall-agms6ndx-pooler.c-2.eu-central-1.aws.neon.tech/dbname?sslmode=require
DIRECT_URL=postgresql://user:pass@ep-nameless-hall-agms6ndx.c-2.eu-central-1.aws.neon.tech/dbname?sslmode=require
NODE_ENV=development
PORT=3001
HOST=127.0.0.1
