@use '../../styles/variables' as vars;

.builder-container {
  width: 100%;
  height: 80vh;
  background-color: vars.$color-bg;
  border-radius: 12px;
  padding: 16px;

  .react-flow {
    background-color: vars.$color-bg;
    border-radius: 12px;
  }

  .react-flow__node {
    background-color: vars.$color-node-bg;
    color: vars.$color-text;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 500;
    border: 1px solid vars.$color-node-border;
  }

  .react-flow__edge-path {
    stroke: #888; // можна винести у змінну теж
  }

  .react-flow__minimap {
    border: 1px solid vars.$color-node-border;
  }

  .react-flow__controls {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
  }
}
.react-flow__controls-button {
  color: vars.$color-text;
  background-color: vars.$color-bg;
  border: none;
  border-radius: 6px;
  padding: 4px 8px;
  margin: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.react-flow__controls-button--active {
  background-color: rgba(0, 0, 0, 0.6);
}
